*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
li, ol{
    list-style: none;
}
.container{
    height: auto;
    width: 1000px;
    margin: 0 auto;

}
.ToDo{
    margin: 0 auto;
    height: 600px;
    width: 700px;
    border: 0.5px solid gray;
    border-radius: 10px;
    box-shadow: 8px 4px 20px rgba(149, 111, 186, 0.9);
}
.form{
    top: 550px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;

}
.ToDo-input{
    height: 30px;
    width: 400px;
    border: 0.7px solid black;
    border-radius: 5px;
}
.ToDo-input:focus, .ToDo-input:hover{
    box-shadow: 5px 5px 10px gray;
    outline-style: none;
}
.ToDo-sumbit{
    margin-left: 5px;
    height: 30px;
    width: 100px;
    background-color: rgba(223, 108, 108, 0.5);
    border: 0.5px solid black;
    font-weight: 400;
    font-size: medium;
    border-radius: 5px;
    /* animation: move 1s linear; */
}
.ToDo-sumbit:hover{
    box-shadow: 5px 5px 10px gray;
}
.ToDo-list-item{
    padding: 10px;
    margin-top: 5px;
    border: 1.5px solid teal;
    border-radius: 5px;
}
.ToDo-list{
    width: 700px;
    height: 550px;
    overflow-y: auto;
    scrollbar-width: 1px;
}

@keyframes move {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-50deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-50deg);
    }
    100%{
        transform: rotate(0deg);
    }
}